@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-dance {
  font-family: 'Dancing Script', cursive;
}

.bg-blush {
  background-color: #de7894;
}

.bg-velvet {
  background-color: #b35771;
}

.text-cream {
  color: #faebd7;
}

.text-velvet {
  color: #b35771;
}

@media (min-width: 768px) {
  .md-ml-negative {
    margin-left: -32px;
  }
}
